@font-face {
    font-family: "ProximaNova-reg";
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/ProximaNova-Reg.otf");
  }
  @font-face {
    font-family: "ProximaNova-bold";
    font-style: normal;
    font-weight: 900;
    src: url("../../fonts/ProximaNova-Bold.otf");
  }
  @font-face {
    font-family: "ProximaNova-boldX";
    font-style: normal;
    font-weight: 900;
    src: url("../../fonts/ProximaNova-Xbold.otf");
  }